---
import CardViewer from './CardViewer.astro';
import CardList from './CardList.astro';

export interface Props {
  setId: string;
  cards: {
    id: string;
    name: string;
    supertype: string;
    subtypes: string[];
    types: string[];
    setId: string;
    number: string;
    rarity: string;
  }[];
}
const { setId, cards } = Astro.props;
---
<div class="cards-detail-container space-y-4">
  <CardViewer cards={cards} />
  <CardList cards={cards} />
</div>
